# Grafana datasources provisioning
# /etc/grafana/provisioning/datasources/testnet6.yml

apiVersion: 1

# Remove any existing entries by name before recreating. Without this,
# changing a provisioned datasource's uid makes Grafana fail to start with
# "data source not found" (it looks up by the new uid, which isn't in the DB
# yet). Delete-then-create is idempotent and self-heals future changes.
deleteDatasources:
  - name: Prometheus
    orgId: 1
  - name: Loki
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://localhost:{{ prometheus_port }}
    isDefault: true
    jsonData:
      timeInterval: "{{ prometheus_scrape_interval }}"

  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://localhost:{{ loki_port }}
    jsonData:
      maxLines: 1000
