# Grafana dashboard provisioning
# /etc/grafana/provisioning/dashboards/testnet6.yml

apiVersion: 1

providers:
  - name: testnet6
    orgId: 1
    folder: "Testnet6"
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards
